<!DOCTYPE html>
<html>
  <head>
    <title>Project Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container jumbotron">
      <h1><a href="/">Sparking Blog</a></h1>
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          #parse( $template )
        </div>
        <div class="col-xs-3"></div>
      </div>
    </div>
  </body>
</html>
