<form action="/tags/$tag.getId()" method="post">
  <label for="tag">Update Tag</label>
  <input type="text" name="tag" id="tag" value="$tag.getText()">
  <button class="btn btn-default" type="submit">Submit</button>
</form>

#if ($tags)

  #foreach ($tag in $tags)
  <h3><a href="/tags/$tag.getId()">$tag.getText()</a></h3><a class="btn btn-warning" href="/tags/$tag.getId()/delete">DELETE TAG</a>
  #end

#end
